footer {
    border-top: solid rgba(255, 255, 255, 0.2) 1px;
  }

  .infoRow {
    margin-top:10em; 
    margin-bottom:10em;
  }

  .infoTitle {
    display:none;
  }

  @media (max-width: 768px) { /*phones*/
    .txtShrink {
      font-size: 2.5em;
    }

    .infoRow {
      display:none;
    }

    .infoTitle {
      display:block;
    }

    .col-6 {
      width: auto;
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 1024px) { /*tablets*/
    .display-1 {
      font-size: calc(1.625rem + 3vw);
    }
  }

  @media only screen and (min-width: 1025px) { /*desktops*/

  }